<div class="center hero-unit">
  <h1>Welcome to Good Principles</h1>

  <h2>
	Good Principles: LAUNCH SITE
  </h2>

  <%= link_to "Sign up today!", signup_path, class: "btn btn-large btn-primary" %><br><br>
  <%= link_to "Sign up with Facebook!", "/auth/facebook", class: "btn btn-large btn-primary" %><br><br>
</div>
<%end%>